html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    div.jumbotron
      h1 Code 901 Software
      p Developed in Node using Express, Bootstrap and Less
