doctype html

html(lang="en")
  head
    title=title
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/style.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Sean McKenna")
    meta(name="description", content="Code 901 Software Website")
    meta(name="format-detection", content="telephone=no")
  body
    include partials/navbar.pug
    div.jumbotron.top-main
      div.container-fluid
        h1 Code 901 Software
        p We develop custom code for all platforms. Ask us for anything you want, from apps and games to websites. We will develop what you need.
    div.jumbotron.exp
      div.container-fluid
        p
          | Let our experience work for you! Don't know what your business needs?
          | Tell us what you're trying to achieve and we can build a custom solution for you
    div.jumbotron.memphis
      div.container-fluid
        p
          | We are from Memphis so we know what local businesses need and how to
          | make sure other Memphians get your message. Memphis is one of a kind
          | and so is your business!
    div.row.tech.text-center.center-block
      div.col-sm-3.logo
        img(src="img/nodejs-logo.png")
      div.col-sm-3.logo
        img(src="img/bootstrap-logo.png")
      div.col-sm-3.logo
        img(src="img/unity-logo.png")
      div.col-sm-3.logo
        img(src="img/github-logo.png")
    //-
      include partials/carousel.pug

    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
