div.navbar-wrapper
  div.container
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.navbar-brand Code 901
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href="#", data-toggle="dropdown").dropdown-toggle Contact
                b.caret
              ul.dropdown-menu
                li
                  a(href="tel:+1-901-305-2736") 901-305-2736
                li
                  a(href="mailto:sean.p.mckenna@icloud.com") sean.p.mckenna@icloud.com
